body {
  background-color: #9BCD9B;
  text-align: center;
}

#game {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.card {
  width: 100px;
  height: 150px;
  background-color: #F0FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  color: #696969;
  border-radius: 10px;
}

.card.match {
  background-color: #228B22;
}

.card.flip {
  transform: rotateY(180deg);
}
